.red {
  .text {
    font-size: 20px;
    color: #fff;
    font-weight: 600;   
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }
}